@model PetRescue.Models.Pet

@{
    ViewData["Title"] = "Pet Details";
}

<div class="text-left">
    <h1 class="display-5">Pet Details</h1>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10" style="@(Model.Age is null ? @Html.Raw("color:orangered") : @Html.Raw(Model.Age))">
            @(Model.Age is null ? "NOT SET" : Model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10" style="@(Model.Description is null ? @Html.Raw("color:orangered") : @Html.Raw(Model.Description))">
            @(Model.Description is null ? "NOT SET" : Model.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
<div class="mt-4">
    <a asp-action="Index">Back to Pets List</a>
</div>
